<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BBMediaService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <BBMediaService.Properties.Settings>
            <setting name="DBServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value>rogon</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>8+OGNamziK4Jb5R40QYQ4Q==</value>
            </setting>
            <setting name="IRDBName" serializeAs="String">
                <value>infrared</value>
            </setting>
        </BBMediaService.Properties.Settings>
    </applicationSettings>
</configuration>